body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  .backimg{
    background-size:cover ;
    background-repeat: no-repeat;
 }
 
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
  }
  #hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #ff5e3a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #features {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .feature {
    display: inline-block;
    margin: 0 20px;
    text-align: left;
    max-width: 300px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }   